* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
  background-color: #73AA47;
}


/* Style the header */


/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas: 
      'header' 
      'left' 
      'right' 
      'footer1'
	  'footer2';
      
}

.header {
  grid-area: header;
  background-color: #56892E;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}
  
 

.left,
.right,
.header,
.footer1, footer2 {
  
  display:grid;
  justify-items:center;  
  align-items:center;  
}

/* Style the left column */
.left {
  grid-area: left;
  background-color: #3F6F1A;
}


/* Style the right column */
.right {
  grid-area: right;
  background-color: #3F6F1A;
}

/* Style the footer */
.footer1 {
  grid-area: footer1;
  background-color: #56892E;
  padding: 10px;
  text-align: center;
}

.footer2 {
  grid-area: footer2;
  background-color: #56892E;
  padding: 10px;
  text-align: center;
}


#question {
  font-size: 2em;
  font-weight:bold;
  font-family: 'Oswald';
}


.options {
   font-size:1.5em;
   padding:0.4em;
   font-family: 'Open Sans';
}

#lightbox {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.8);   
}

#message {
    width:80%;
    min-width:400px;
    padding:20px;
    background-color:#ca5329;
    color:white;
    text-align:center;
    font-size:4em;
    font-weight:bold;
    /* vertically and horizontally center the text */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#hint:hover{
	color: #ca5329;
}

#hint {
	border-style: solid;
	padding: 5px;
}

#timeleft {
	border-style: solid;
	padding: 5px;
}


/* Desktop Version */
@media (min-width: 768px) {
	
 .grid-container  {
  grid-template-areas: 
    'header header header header' 
    'left left right right' 
    'footer1 footer1 footer2 footer2';

  
  }
}